<!-- index.ejs -->
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <%- include('navbar', {links: links}) %>
    <h1><%= title %></h1>
    <ul>
      <% messages.forEach((message) => { %>
      <li>
        <strong><%= message.user %>:</strong> <%= message.text %>
        <br />
        <small>Added on: <%= message.added.toLocaleString() %></small>
      </li>
      <% }); %>
    </ul>
  </body>
</html>
