<!-- messageDetails.ejs -->
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <%- include('./partials/navbar', {links: links}) %>
    <h1><%= title %></h1>
    <div>
      <strong><%= message.name %>:</strong> <%= message.message %>
      <br />
      <small>Added on: <%= message.created_at.toLocaleString() %></small>
    </div>
  </body>
</html>
